asgiref==3.7.2
certifi==2023.7.22
cfgv==3.4.0
charset-normalizer==3.2.0
crispy-bootstrap5==0.7
decouple==0.0.7
distlib==0.3.7
Django==4.2.5
django-crispy-forms==2.0
django-debug-toolbar==4.2.0
environs==9.5.0
filelock==3.12.3
gunicorn==21.2.0
identify==2.5.27
idna==3.4
mailersend==0.5.1
marshmallow==3.20.1
nodeenv==1.8.0
packaging==23.1
Pillow==10.0.1
platformdirs==3.10.0
pre-commit==2.21.0
psycopg2-binary==2.9.7
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
sqlparse==0.4.4
urllib3==2.0.4
virtualenv==20.24.5
whitenoise==6.5.0
