.App {
  text-align: center;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calculator-container {
  background-color: #cecece; 
  border-radius:5%;
  width: 35vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-container {
  width: 80%;
}

.display-container p {
  background-color: #fffbe4;
  height: 3rem;
  font-size: 2rem;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 50px;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5%;
  gap: 5px;
}

.AC-button {
  grid-column: span 3;
}

.equal-button {
  grid-row: span 2;
}