@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #00292b;
  --primary-color-dark: #001111;
  --secondary-color: #c58255;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    to right,
    var(--primary-color-dark),
    var(--primary-color)
  );
}

nav {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  min-height: 85px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.link a {
  padding: 1rem;
  padding-top: 2rem;
  color: var(--white);
  text-decoration: none;
  transition: 0.3s;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.link a:hover {
  background-color: var(--secondary-color);
}

.container {
  min-height: 100vh;
  display: flex;
}

.container-left {
  flex: 1;
  background-image: url("img/Forest.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.left-content {
  margin: 5rem 3rem 0 auto;
  padding: 1rem;
  max-width: 400px;
  text-align: right;
}

.left-content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.left-content p {
  color: var(--white);
}

.container-right {
  flex: 1.5;
  position: relative;
}

.container-right img {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
  width: 100%;
  max-width: 450px;
}

.right-content {
  text-align: right;
  max-width: 600px;
  margin-left: 8rem;
  margin-top: 8rem;
  padding: 2rem;
}

.right-content h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  color: var(--secondary-color);
}

.right-content h4 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
}

.right-content p {
  margin-bottom: 3rem;
  color: var(--white);
}

.btn {
  margin-bottom: 3rem;
  min-width: 120px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
}

.primary-btn {
  margin-right: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.secondary-btn {
  color: var(--secondary-color);
  background-color: transparent;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

.socials span {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.socials span:hover {
  color: var(--secondary-color);
}

@media (width < 780px) {
  nav {
    justify-content: center;
  }

  .nav-links {
    gap: 1rem;
  }

  .container {
    flex-direction: column;
  }

  .container-left {
    min-height: 700px;
  }

  .left-content {
    max-width: none;
    margin: 6rem 0;
    text-align: center;
  }

  .container-right {
    min-height: 700px;
  }

  .container-right img {
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
  }

  .right-content {
    text-align: center;
    margin: 8rem auto;
  }

  .socials {
    justify-content: center;
  }
}