@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/*google fonts*/

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: normal;
    background-image: url(bg.jpg);
    height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	line-height: 1.5;
	color: #fefefe;	
	position: relative;
	overflow-x: hidden;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

/*ends base*/

.container {
	width: 1280px;
	max-width: 97%;
	margin: 0 auto;
}

a {	
	display: inline-block;
	text-decoration: none;
}

/*ends basic*/

.hero {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	padding-bottom: 50px;
	
}

.hero header {
	padding: 30px 0 50px 0;
}

.hero header .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.hero header .logo h2 {
	font-family: 'Lato', sans-serif;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #FFD173;
	cursor: pointer;
}

.hero header .logo h2 span {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: #FFD173;
	border-radius: 15px;
	margin-left: 5px;
}

.hero header nav ul {
	list-style: none;
}

.hero header nav ul li {
	display: inline-block;
}

.hero header nav ul li a {
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
	font-weight: 600;
	margin-left: 25px;
	color: #ffffff;
	transition-duration: .3s;
	transition-property: box-shadow, color;
}

.hero header nav ul li a:hover {
	color: #FFD173;
}

.hero header nav ul li.action a {
	background: #FFD173;
	color: #242424;
	padding: 12px 28px;
	border-radius: 40px;
	margin-left: 45px;
}

.hero header nav ul li.action a:hover {
	box-shadow: 0px 0px 5px #E3FF7C, 0px 0px 15px #7CFFF2;
}

.details {
	margin-top: 100px;
}

.details .container {
	width: 1166px;
	max-width: 95%;
	margin: 0 auto;
}

.details h1 {
	font-size: 42px;
	font-weight: 700;
	line-height: 1.1;	
}

.details p {
	width: 420px;
	max-width: 100%;
	text-align: left;
	font-size: 15px;
	margin: 30px 0px 20px;
}

.details a {
	background: #FFD173;
	color: #242424;
	padding: 10px 25px;
	border-radius: 4px;
	font-size: 15px;
	font-weight: 600;
	transition-duration: .3s;
	transition-property: box-shadow;
}

.details a:hover {
	box-shadow: inset 135px 0px 5px #E3FF7C, inset 100px 0px 5px #242424;
}

@media screen and (max-width: 1300px) {
	.hero {		
		background-size: 90%;
	}
}

@media screen and (max-width: 620px) {
	.hero {
		background-size: 110%;
	}
	.details h1 {
		font-size: 36px;	
	}

	.hamb {
		width: 40px;
		height: 30px;
		cursor: pointer;
		position: absolute;
		top: 44px;
		right: 2%;
		z-index: 5;
	}
	
	.hamb span {
		display: block;
		width: 100%;
		height: 3px;
		background: #ffffff;
		opacity: 1;
		transition-duration: .3s;
		transition-property: opacity transform top bottom;
	}
	
	.hamb span:nth-child(2) {
		margin: 7px 0px;
	}
	
	.hamb.click span {		
		position: absolute;
		top: 10px;
	}

	.hamb.click span:nth-child(2) {
		opacity: 0;
	}

	.hamb.click span:nth-child(1) {
		transform: rotate(-40deg);
		top: 12px;
	}

	.hamb.click span:nth-child(3) {
		transform: rotate(40deg);
		top: 12px;
	}

	.hero .menu-overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #242424;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow-y: auto;
		transform: translateX(100%);
		opacity: 0;
		transition-duration: .5s;
		transition-property: transform opacity;
	}

	.hero .menu-overlay.active {
		transform: translateX(0%);
		opacity: 1;
		z-index: 4;
	}

	.hero header nav.active ul, 
	.hero header nav.active ul li,
	.hero header nav.active ul li a {
		position: relative;
	}

	.hero header nav.active ul li {
		display: block;
		text-align: center;
	}

	.hero header nav ul li {
		display: block;
		text-align: center;
	}

	.hero header nav ul li a {
		text-transform: uppercase;
		font-size: 2.5em;
		font-weight: 700;
		margin: 10px 0px;
		padding: 0px 15px;
		color: #fefefe;
	}

	.hero header nav.active ul li a:hover {
		color: red;
	}

	.hero header nav ul li.action a {
		background: transparent;
		color: #fefefe;
		padding: 0px 15px;
		border-radius: 0px;
		margin-left: 0px;
	}

	.hero header nav ul li.action a:hover {
		box-shadow: none;
	}

	.hero nav.active ul li a:before {
		content: "";
		width: 100%;
		height: 8px;
		background: #E3FF7C;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%) scaleX(0);
		transform-origin: right;
		transition: .5s transform;
	}

	.hero nav.active ul li a:hover:before {
		transform: translateY(-50%) scaleX(1);
		transform-origin: left;
		transition: .5s transform;
	}	
}