*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    font-family: sans-serif;
    background-image: linear-gradient(to bottom right, #29b6f6, #9575cd );
}

a {
    text-decoration: none;
    color: #fff;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
    background-color: #fff;
}

.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active{
    color: #333;
}

.theme-toggler.active::before{
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display{
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover{
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

.calculator #display{
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #c2cd4e;
    color: #d81b60;
}

.calculator button.btn-num {
    background-color: #6fbae2;
    color: #000;
}

.calculator button.btn-operator{
    background-color: #a0dd9d;
    color: #e8082a;
}

.calculator button.btn-equal {
    background-color: #75ebcf;
    color: #000;
}

/* DARK THEME */

.calculator.dark{
    background-color: #020b0e;
}

.calculator.dark #display{
    color: #f8fafd;
}

.calculator.dark button#clear{
    background-color: #681c2f;
    color: #00f4f8;
}

.calculator.dark button.btn-num {
    background-color: #224555;
    color: #dedfe0;
}

.calculator.dark button.btn-operator{
    background-color: #3e2153;
    color: #1fbfce;
}

.calculator.dark button.btn-equal{
    background-color: #106d14;
    color: #f7f7f7;
}